*{
  margin-top: 2px;
}

body {
  
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  
}

/* Contenedor general */
.container {
  width: 950px;
  padding: 10px;
  background-color: #f1f0ec;
  
  
}

/* Seccion amarilla arriba */
.top-nav {
  height: 150px;
  background-color: #ffcc00;
  margin-bottom: 10px;
  display: flex;
  
}


.content {
  display: flex;
  flex-direction: row;
  
}

/* Contenedor rosa */
.main {
  background-color: deeppink;
  width: 700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;
  justify-content: space-evenly;*/
}

/* Cuadros azules fila */
.d {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  gap: 10px;
  /*margin-bottom: 10px;*/
}

.sub-content {
  width: 220px;
  height: 220px;
  background-color: mediumblue;
  color: white;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 5px;
  
}

/* Cuadro verde  */
#Contenedor-verde {
  width: 650px;
  height: 100px;
  background-color: #33cc33;
  color: white;
  display: flex;
  
}

/* Cuadro celeste  */
#Contenedor-celeste {
  width: 225px;
  height: 380px;
  background-color: #66ccff;
  margin-left: 10px;
  display: flex;
  
  
}